category-encoders==2.6.3
ipykernel==5.5.6
ipython==7.34.0
lazypredict==0.2.12
lightgbm==4.5.0
matplotlib==3.7.1
matplotlib-inline==0.1.7
matplotlib-venn==1.1.1
pandas==2.1.4
pickleshare==0.7.5
scikit-learn==1.5.2
seaborn==0.13.1
shap==0.46.0
shapely==2.0.6
sklearn-pandas==2.2.0
xgboost==2.1.1



